aiogram
yt-dlp
aiohttp
aiosqlite
python-slugify
ftfy
validators
filetype
async-lru
tenacity
psutil
mutagen
Pillow
pydub
python-magic
uvloop
ujson
moviepy
humanize
beautifulsoup4
speedtest-cli
cchardet
aiodns
brotli
async-timeout
h2
